<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Salonhunt</title>

  <!-- CSS  -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/bower_components/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

    <nav class="navbar-fixed">
      <a id="left" href="/" class="brand-logo"><b>Salonhunt<b></a>
      <ul class="right hide-on-med-and-down">
            <li>
       <form action="/search" method ="POST">
        <div class="input-field hide-on-med-and-down">
          <input id="search" name="name"placeholder="Enter Salon Name" type="search" required>
          <label class="label-icon" for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
        </div>
      </form>
    </li>
        <li><a href="/cosmetic">Cosmetics</a></li>
        <li><a href="#section12">Featured</a></li>
        <li><a href="#section">Contact Us</a></li>
       <!--show login and sign up lin user is not logged in -->
       <% if(!user) {%> 
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Signup</a></li>
       <%}%>
       <!--show logout and display namcurrent user is logged in -->
       <% if(user) {%> 
       <li><a href="#">Welcome <%= user.username %></a></li> 
       <li><a href="/logout">Logout</a></li> 
       <%}%>
      </ul>

      <ul id="nav-mobile" class="side-nav">
         <li><a href="/cosmetic">Cosmetics</a></li>
        <li><a href="#section11">Featured</a></li>
        <li><a href="#section">Contact Us</a></li>
       <!--show login and sign up lin user is not logged in -->
       <% if(!user) {%> 
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Signup</a></li>
       <%}%>
       <!--show logout and display namcurrent user is logged in -->
       <% if(user) {%> 
       <li><a href="#">Welcome <%= user.username %></a></li> 
       <li><a href="/logout">Logout</a></li> 
       <%}%>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </nav>
<body>

<div class="valign-wrapper parallax-container">
  <div class="container">
    <div class="row">
      <div class="call l8 s12 white-text">
        <div class="valign">

        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img class="responsive-img"src="images/new3.jpg" width="100%">
  </div>
</div>

   <div id="section2">
 <div class="row">
     <div class="container">
       <div class="content center-align">
          <h5 class="title">Open Your Account Today</h5>
          <div class="clearfix"></div>
          <h>Join a network of hair salons ,beauty spa's ,salon customers </br>and cosmetic suppliers within your region.</br> </h>
            <h3>Your beauty,Our Priority!<h3>
        </div>
 </div>
 </div>
</div>



<div id ="section11">
<div class="container">
    <div class="section">
      <h5 class="center-align">FEATURED SALONS</h5>
      <div class="row ">

            <!--<p class="center-align ">
            <span><a class ="featured" href="#section1" data-filter=".responsive">Salons</a></span>
            <span><a class ="featured" href="#">Products</a></span>
            <span><a class ="featured" href="#">Patners</a></span>
            </p>-->
<% if(salon){ %>
 <% salon.forEach(function(salon, index){ %>
<div class="col s12 m6 l4 responsive">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
           <div class="chip">
             <img src="/<%= salon.img %>" alt="Contact Person">
                <a href="/salon/item/<%= salon._id %>"><span class="card-title"><%= salon.name %></span></a>
          </div>
            <div class="card-content">
             <h><b>Location:</b> <%= salon.location %> <b>Contacts:</b> <%= salon.contact %></h>
            </div>
          <div id="small_post_image" class="col s12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="thumbnail" src="/<%= salon.img %>">
                 </div>
                   </div>
            </div>

         </div>
       </div>

</div>

   <% }); %>
<% } %>

</div>
</div>
  </div>
  </div>

<div id ="section12">
<div class="container">
    <div class="section">
      <h5 class="center-align">COSMETIC SHOPS</h5>
      <div class="row ">

            <!--<p class="center-align ">
            <span><a class ="featured" href="#section1" data-filter=".responsive">Salons</a></span>
            <span><a class ="featured" href="#">Products</a></span>
            <span><a class ="featured" href="#">Patners</a></span>
            </p>-->
<% if(cosmetic){ %>
 <% cosmetic.forEach(function(cosmetic, index){ %>
<div class="col s12 m6 l4 responsive">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
           <div class="chip">
             <img src="images/girl4.jpg" alt="Contact Person">
                <a href="/cosmetic/item/<%= cosmetic._id %>"><span class="card-title"><%= cosmetic.name %></span></a>
          </div>
            <div class="card-content">
              <h><b>Location:</b> <%= cosmetic.location %> <b>Contacts:</b> <%= cosmetic.contact %></h>
            </div>
          <div id="small_post_image" class="col s12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="thumbnail" src="/<%= cosmetic.img %>">
                 </div>
                   </div>
            </div>

         </div>
       </div>

</div>

   <% }); %>
<% } %>

</div>
</div>
  </div>
  </div>

<div id="section3">
<div class="row">
    <div class="container">
      <div class="mobile">
        <div class="col s12 m6 l6">
          <h5 class="title center-align"><span>Join the Network</span></h5></br>
          <div class="clearfix"></div>
          <h>Join a fun, passionate community of beauty from around the world sharing and discovering all about hairstyles! See detailed info such as the exact hair products used, how much it cost, and the salon’s location.</h>

                <img class="responsive-img" src="images/play.jpg">


       </div>
       <div class="col s12 m6 l6 responsive" style="margin-top:40px; padding-left:90px; ">
         <img class="responsive-img" src="images/app4.jpg">

      </div>
    </div>
</div>
</div>
</div>

<div id ="section">

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
               <h4 class="white-text">Useful Links</h4>
                  <p class="grey-text text-lighten-3">Home</p></br>
                  <p class="grey-text text-lighten-3">Services</p></br>
                  <p class="grey-text text-lighten-3"><a href="/faq">FAQ</a></p>
              </div>
              <div class="col l4 offset-l2 s12"></br>
                <ul>
                  <li>
                    <a href="#"<span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x"></i>
                    </span></a>
                    <h>Find us on Facebook</h><br>
                  </li>
                  <li><a href="#"<span class="fa-stack fa-lg">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-twitter fa-stack-1x"></i>
                      </span></a>
                      <h>Follow us on Twitter</h><br>
                  </li>
                  <li>
                  <a href="#"<span class="fa-stack fa-lg">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-google-plus fa-stack-1x"></i>
                      </span></a>
                      <h>Friggatech@gmail.com</h><br></li>
                  <li>
                   <a href="#"<span class="fa-stack fa-lg">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-phone fa-stack-1x"></i>
                      </span></a>
                      <h>0720000000</h><br></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
           <a class="grey-text text-lighten-4 left" href="#!"> © 2017 Copyright Text</a>
           <a class="grey-text text-lighten-4 right" href="#!">@ Ogmah Technologies</a>
          </div>
        </footer>

   </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
