<% layout('dashboard/admin') %>
 <form id="Salon-form" method="post" class="form-horizontal" action="/updateadminsalon<%= salon.id  %>">
  <div class="row collapse">
   <div class="large-8 small-12 columns">
   <h>Services</h>
     <div class="row collapse">
        <div class="small-3 columns">
        <label for="Salon Name">Name</label>
        </div>
         <div class="small-9 columns">
          <textarea cols="42" row collapses="5" required class="form-control" placeholder="" id="name" name="name" ><%= salon.name  %></textarea>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Salon Location">Location</label>
         </div>
         <div class="small-9 columns">
          <textarea cols="42" row collapses="5" required class="form-control" placeholder="" id="location" name="location" ><%= salon.location  %></textarea>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Salon Hours">Working Hours</label>
         </div>
         <div class="small-9 columns">
          <textarea cols="42" row collapses="5" required class="form-control" placeholder="" id="hours" name="hours" ><%= salon.hours  %></textarea>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Salon Description">Description</label>
         </div>
         <div class="small-9 columns">
          <textarea cols="42" row collapses="5" required class="form-control" placeholder="" id="description" name="description" ><%= salon.description  %></textarea>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Salon Contacts">Contacts</label>
         </div>
         <div class="small-9 columns">
          <textarea cols="42" row collapses="5" required class="form-control" placeholder="" id="contacts" name="contacts" ><%= salon.contacts  %></textarea>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Service Image">Service Image</label>
        </div>
         <div class="small-9 columns">          
          <label for="exampleFileUpload" class=""></label>
          <input type="file" id="exampleFileUpload" class="" value="<%= salon.img  %>">
         </div>
    </div>

   <div class="row collapse">
    <div class="small-3 columns">
    </div>
    <div class="small-9 columns ">
          <button class="success button left">Post</button>
      </div>
      </div>

    </div>
  </form>
   
