<% layout('dashboard/admin') %>
<div class ="container">
<div class="large-8 columns">
<h class ="align-center">Services</h>
<div class="row collapse" id="appointment">
<a class="small button success left " href="/addsalon">Add Salon</a>
<table class="table">
  <thead>
   
      <th>#</th>
      <th>Salon Name</th>
      <th>Location</th>
      <th>Hours</th>
      <th>Description</th>
      <th>Posts</th>
      <th>Contacts</th>
      <th>Options</th>
  
  </thead>
  <tbody>
  <% salon.forEach(function(salon, index){ %>
    <tr>
    <td scope="row"><%= index + 1 %></td>
      <td><%= salon.name  %></td>
      <td><%= salon.location  %></td>
      <td><%= salon.hours  %></td>
      <td><%= salon.description %></td>
      <td>10</td>
      <td><%= salon.contact %></td>
      <td><a href="/salondelete/<%= salon._id %>" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i>delete</a> </td>
    </tr>
       <%});%>
  </tbody>
</table>


</div>
</div>
</div>