<% layout('search/salons') %>

<div id="section2">
<div class="row">
        <div class="col s3 m3 l2">
            <div class="collection">
              <a href="/find" class="collection-item">Beauty Salons</a>
              <a href="/cosmetic" class="collection-item">Cosmetic Shops</a>
            </div>
       </div>
 <div class="col s9 m9 l7">
  <div class="collection">
    <div class="collection-item1">
    <h>Salons in Mombasa,Kenya<h>
    <h><a href ="#modal3"><i class="fa fa-map-marker"></i></a></h>
    <a href="#modal5" class="right btn-flat">Make Order</a>
  </div>
   <% cosmetic.forEach(function(cosmetic, index){ %>

    <a href="/cosmetic/item/<%= cosmetic._id %>" class="collection-item col s12 m12 l12">
          <div id="small_post_image" class="col s6 m6 l6">
              <div class="card card-height">
                 <div class="card-image3">
                  <img class="responsive-img" src="/<%= cosmetic.img %>">
                 </div>
                   </div>
            </div> 
      <div class="col s6 m6 l6">
        <p><%= cosmetic.name %></p>
        <p>Location : <%= cosmetic.location %> </p>
      </div>
    </a>

    <%});%>
  </div>
</div>
<%= include ../partials/right %>
   
</div>
</div>

