<% layout('search/salons') %>
<div id="section2">
<div class="row">
        <div class="col s4 m4 l2">
            <div class="collection">
              <a href="#modal2" class="collection-item">Schedule Appointment</a>
            </div>
       </div>
 <div class="col s8 m8 l7" id="test1">
  <div class="collection">
   <a href="#!" class="collection-item1">Hair Styles</a>
<div class="col s12 m12 l12">
  <% style.forEach(function(style, index){ %>
<div class="col s12 m12 l6">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
            <div class="card-content">
             <h><b><%= style.title %>:</b><%= style.description %></h>
            </div>
          <div id="small_post_image" class="col s12 m12 l12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="/<%= style.img %>">
                 </div>
                   </div>
            </div>
         </div>
       </div>

</div>
    <%});%>

  </div>
  </div>

  <div class="collection">
   <a href="#!" class="collection-item1">Our Products</a>
  <div class="col s12 m12 l12">
<% product.forEach(function(product, index){ %>
<div class="col s12 m12 l6">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
        <div class="card-content">
         <h><b><%= product.title %>:</b><%= product.description %></h>
         </div>
          <div id="small_post_image" class="col s12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="/<%= product.img %>">
                 </div>
                   </div>
            </div>
         </div>
       </div>
</div>
<%});%>
</div>
  </div>

  <div class="collection">
    <a href="#!" class="collection-item1">What we do</a>
<ol>
  <% service.forEach(function(service, index){ %>
  <li><p><%= service.title %></p></li>
    <%});%>
</ol>
  </div>

</div>
      <div class="col l3 hide-on-med-and-down">
      <% if(adminnews){ %>
 <% adminnews.forEach(function(adminnews, index){ %>
              <div class="card card-height">
                 <div class="card-image2">
                   <img class="responsive-img" src="/<%= adminnews.img %>">
                 </div>
              </div> 
 <% }); %>
<% } %>
      </div>
   
</div>
</div>
<div id="modal2" class="modal modal-fixed-footer">
 <div class="modal-content">
 <h3 class="center">Schedule Appointment</h3>
  <div class="row">
    <form class="col s12 m12 l12" action="/postappointment" method="post">
      <div class="row">

           <div>
            <input type="hidden" name="id" value="<%= salon.id %>" />
           </div>
        <div class="input-field col s12 m12 l6">
          <input id="name" name="name" type="text" class="validate">
          <label for="first_name">Firstname Lastname</label>
        </div>
        <div class="input-field col s12 m12 l6">
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l6">
           <input id="phone" name="phone" type="text" class="validate">         
           <label for="phone">Phone Number</label>
        </div>
        <div class="input-field col s12 m12 l6">
            <select name="style">
              <option value="">Select Style</option>
              <option value="Braiding">Braiding</option>
              <option value="Weaving">Weaving</option>
              <option value="Waxing">Waxing</option>
              <option value="Haircut">Haircut</option>
              <option value="other">Other</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l6">
          <input type="date" id="date" name="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
        </div>
        <div class="input-field col s12 m12 l6">
         <input type="time" id="time" name="time">
        </div>
      </div>
      <div class="row">
        <div class="col s12">
       <button class="success button left">Submit</button>
          </div>
        </div>
      </div>
    </form>

  </div>
 </div>
  <div class="modal-footer"></div>
</div>
